.ibm-thin {
  font-family: "IBM Plex Mono", serif;
  font-weight: 100;
  font-style: normal;
}

.ibm-extralight {
  font-family: "IBM Plex Mono", serif;
  font-weight: 200;
  font-style: normal;
}

.ibm-light {
  font-family: "IBM Plex Mono", serif;
  font-weight: 300;
  font-style: normal;
}

.ibm-regular {
  font-family: "IBM Plex Mono", serif;
  font-weight: 400;
  font-style: normal;
}

.ibm-medium {
  font-family: "IBM Plex Mono", serif;
  font-weight: 500;
  font-style: normal;
}

.ibm-semibold {
  font-family: "IBM Plex Mono", serif;
  font-weight: 600;
  font-style: normal;
}

.ibm-bold {
  font-family: "IBM Plex Mono", serif;
  font-weight: 700;
  font-style: normal;
}

.ibm-thin-italic {
  font-family: "IBM Plex Mono", serif;
  font-weight: 100;
  font-style: italic;
}

.ibm-extralight-italic {
  font-family: "IBM Plex Mono", serif;
  font-weight: 200;
  font-style: italic;
}

.ibm-light-italic {
  font-family: "IBM Plex Mono", serif;
  font-weight: 300;
  font-style: italic;
}

.ibm-regular-italic {
  font-family: "IBM Plex Mono", serif;
  font-weight: 400;
  font-style: italic;
}

.ibm-medium-italic {
  font-family: "IBM Plex Mono", serif;
  font-weight: 500;
  font-style: italic;
}

.ibm-semibold-italic {
  font-family: "IBM Plex Mono", serif;
  font-weight: 600;
  font-style: italic;
}

.ibm-bold-italic {
  font-family: "IBM Plex Mono", serif;
  font-weight: 700;
  font-style: italic;
}

#app {
  background: "#111111" !important;
}
